<%= turbo_frame_tag "turbo-page-content" do %>
    
  <%= render "layouts/page_header" %>
  
  <%= render "contact_form" %>
  
  <div class="container mt-auto">
    <button class="btn btn-secondary rounded-circle mx-3">
      <%= mail_to "darcy.lauder@shaw.ca" do %>
        <i class="bi bi-envelope text-light"></i>
      <% end %>
    </button>
    <button class="btn btn-secondary rounded-circle mx-3">
      <i class="bi bi-chat-left-text text-light"></i>
    </button>
    <button class="btn btn-secondary rounded-circle mx-3">
      <i class="bi bi-telephone-inbound text-light"></i>
    </button>
  </div>
<% end %>