<%= turbo_frame_tag "turbo-social-content" do %>
  <div class="card h-100 bg-dark position-relative">
    <iframe class='card-body h-100' srcdoc='<%= @content %>' frameborder='0'>
    </iframe>
  </div>
  <%= render "/layouts/navigation/new_tab_link" %>
<% end %>