$enable-gradients: true;

$bronze: #CD7F32;
$silver: #C0C0C0;
$gold: #FFD700;

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;

  &-thumb {
    border-radius: 1em;
    background: $light;

    &:hover {
      background: $secondary
    }
  }
}
