<%= turbo_frame_tag "turbo-social-content" do %>
  <div class="card h-100 bg-dark position-relative">
    <iframe class="card-body h-100" src='https://widgets.sociablekit.com/twitter-feed/iframe/215418' frameborder='0'></iframe>
  </div>
  <%= render "/layouts/new_tab_link", social_link: params[:link] %>
<% end %>