<div class="container-fluid bg-primary px-2 py-2 vh-100">
  <div class="container-fluid bg-secondary h-100" id="main-content">
    <%= turbo_frame_tag "turbo-page-content" do %>
    <% end %>
  </div>
</div>