<%= turbo_frame_tag "turbo-page-content" do %>
  <div class="container bg-dark h-100 py-3" id='page-content'>
    <div class="container-fluid d-flex flex-column h-100 text-light">      
      <h1>Contacts#index</h1>
      <p>Find me in app/views/contacts/index.html.erb</p>
      <%= mail_to "darcy.lauder@shaw.ca" do %>
        <i class="bi bi-envelope"></i>
      <% end %>
    </div>
  </div>
<% end %>