<%= turbo_frame_tag "turbo-page-content" do %>
<div class="container bg-dark h-100 py-3" id='page-content'>
    <div class="container-fluid">
      <form class="mb-3">
        <div class="container input-group rounded-circle">
          <span class="input-group-text bg-secondary border-0">
            <i class="bi bi-search text-light"></i>
          </span>
          <input type="text" class="form-control">
          <span class="input-group-text bg-secondary border-0">
            <a href="#" class="text-light text-decoration-none fst-italic" type="submit" disabled>Search</a>
          </span>
        </div>
      </form>

      <div class="container-fluid">
        <h1 class="text-light">
          Project Cards
        </h1>
      </div>
      
    </div>
</div>
<% end %>