<%= turbo_frame_tag "turbo-page-content" do %>


      <form class="mb-1">
        <div class="container input-group rounded p-0">
          <span class="input-group-text bg-secondary border-0">
            <i class="bi bi-search text-light"></i>
          </span>
          <input type="text" class="form-control">
          <span class="input-group-text bg-secondary border-0">
            <a href="#" class="text-light text-decoration-none fst-italic" type="submit" disabled>Search</a>
          </span>
        </div>
      </form>

    <div class="container-fluid flex-grow-1 d-flex rounded">
      <div class="row container-cards">
        <%= render @projects %>
      </div>
    </div>
      
<% end %>