<%= turbo_frame_tag "turbo-social-content" do %>
  <iframe class='py-3 position-relative' src='https://widgets.sociablekit.com/linkedin-profile-posts/iframe/198802' frameborder='0' width='100%' height='100%'>
  </iframe>
  <button class='btn btn-primary rounded-circle position-absolute'><i class="bi bi-linkedin"></i></button>
<% end %>

