.card-group {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 1em;
  overflow-x: hidden;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card-body, .card-footer {
  flex: 0 1 auto;
}

.card-header, .card-group > .card {
  flex: 1 0 auto;
}

.card-text {
  max-height: 100%;
  overflow-y: scroll;
  position: relative;
  width: 100%;

  &-scroll {
    @extend .card-text;
    overflow-x: hidden;
    position: relative;
  }
}

@include media-breakpoint-up(sm) {
  .card-group {
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: scroll;
    height: 100%;
  }
}