.navbar-nav {
  padding: 0;
  height: 100%;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 20%;

  &__main {
    @extend .nav-item;
    &:hover {
      background-color: $secondary;
    };
  }

  &__page {
    @extend .nav-item;
    box-sizing: content-box;
    &--inactive {
      @extend .nav-item__page;
      border-bottom: solid $light 1px;
      &:hover {
        background-color: $secondary;
        border-top-right-radius: $border-radius;
        border-top-left-radius: $border-radius;
      }
    }

    &--active {
      @extend .nav-item__page;
      & > .nav-link.a {
        color: $light;
      }
      border-top: solid $light 1px;
      border-left: solid $light 1px;
      border-right: solid $light 1px;
      border-top-right-radius: $border-radius;
      border-top-left-radius: $border-radius;
    }
  }
}

.nav-link {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.navbar {
  height: 3em;
  margin-bottom: 1rem;
  padding: 0 0.5rem;
}

@include media-breakpoint-up(md){
  .navbar {
    height: 100vh;
    width: 3em;
    margin-bottom: 0 !important;
    margin-left: 1rem;
    padding: 0.5rem 0;
  }

  .navbar-nav {
    height: 100%;
  }

  .nav-item {
    height: 20%;
    width: 100%;
  }
}