$enable-gradients: true;

::-webkit-scrollbar {
  width: 75%;
  height: 0.5em;

  &-thumb {
    border-radius: 1em;
    background: $light;

    &:hover {
      background: $secondary
    }
  }
}

.card-text p {
  max-height: calc(4rem * $line-height-base);
  overflow:hidden;
  position: relative;

  &::after {
    content: "";
    background: linear-gradient(165deg, transparent 45%, var(--bs-card-bg) 95%);
    display: block;
    height: calc(8rem * $line-height-base + 1px);
    inset-block-end: 0;
    position: absolute;
    width: 100%;
  }
}

#main-content {
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
  padding: 2em;
  padding-bottom: 5em;
}

#page-content {
  border-radius: 5%;
}

.container-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 1em;
  overflow-y: hidden;
  height: 100%;
}

.card-footer {
  height: 15%
}

.rounded-bottom-left {
  border-bottom-left-radius: $border-radius !important;
}

.rounded-bottom-right {
  border-bottom-right-radius: $border-radius !important;
}

.navbar-nav {
  padding: 0;
  height: 100%;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width:20%;

  &:hover {
    background-color: $secondary ;
  }
}

.navbar {
  @extend .mb-3;
  height: 3em;
  margin-bottom: 1rem;
  padding: 0 0.5rem;
}

@include media-breakpoint-up(md){
  .navbar {
    height: 100vh;
    width: 3em;
    margin-bottom: 0 !important;
    margin-left: 1rem;
    padding: 0.5rem 0;
  }

  .navbar-nav {
    height: 100%;
  }

  .nav-item {
    height: 20%;
    width: 100%;
  }

  #main-content {
    border-top-left-radius: 0;
    border-bottom-right-radius: 5%;
    padding: 2em;
    padding-left: 5em;
  }

  .card-text p {
    max-height: calc(8rem * $line-height-base);
  }
}
