<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <div class="container-fluid navbar-nav flex-row flex-md-column justify-content-around">
    <% @links.each do |key, value| %>
      <%= turbo_frame_tag "first_turbo_frame", class: "nav-item" do %>
        <%= link_to send("#{key}_path"),
              data: { turbo_frame: "turbo-page-content" },
              class: "nav-link" do %>
          <i class="bi <%= value %>"></i>
        <% end %>
      <% end %>
    <% end%>
  </div>
</nav>