    <div class="container d-flex justify-content-between align-items-end pb-1 px-3 mb-2">
      <div class="text-light fst-italic display-6">
        <%= @page_name %>
      </div>
      <div class="text-light">
        Context menu
      </div>
    </div>